.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/
.svn/

# Editor directories and files
.idea
.vscode
.vscode-test
*.suo
*.ntvs*
*.njsproj
*.sln
